@page
@model EspersModel

<table class="table">
    <thead>
        <tr>
            <th>
                Уровень достоверности
            </th>
            <th>
                Текущее предположение
            </th>
            <th>
                Имя экстрасенса
            </th>
            <th>
                История угаданных чисел
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var esper in @Model.GetEspers())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => esper.ReliabilityLevel)
                </td>
                <td>
                    @if(@Model.GetGameState() == Models.GameStates.EspersGuessedNumber) @Html.DisplayFor(modelItem => esper.CurrentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => esper.Name)
                </td>
                @foreach (var number in esper.NumberHistory)
                {
                    <td>
                        @Html.DisplayFor(modelItem => number)
                    </td>
                }
            </tr>
        }
    <tr>

        <td>
        </td>
        <td>
        </td>
        <th>
            Ранее загаданные числа
        </th>
        @foreach (var number in @Model.GetTester().NumberHistory)
        {
            <td>
                @Html.DisplayFor(modelItem => number)
            </td>            
        }
    </tr>
    </tbody>
</table>

<br />
@if (@Model.GetGameState() == Models.GameStates.EspersReadyToGuess)
{
<br />
<label>Загадайте двузначное число</label><br />
<form asp-page-handler="guess" method="post">
    <input type="submit" value="Загадать число" />
</form>
}
else if (@Model.GetGameState() == Models.GameStates.EspersGuessedNumber)
{
<br />
<form asp-page-handler="unveil" method="post">
    <label for="SubmittedNumber">Загаданное число</label><br />
    <input type="number" name="SubmittedNumber" id="SubmittedNumber" />
    @Html.ValidationMessageFor(model => model.SubmittedNumber)<br /><br />
    <input type="submit" value="Оправить загаданное число" />
</form>
}